Source: cuems-utils
Section: misc
Priority: optional
Maintainer: Ion Reguera <ion@stagelab.coop>
Build-Depends: debhelper (>=11~), dh-python, python3, python3.11-dev
Standards-Version: 4.1.4
Homepage: https://github.com/stagesoft/stagesoft-project
Vcs-Git: https://github.com/stagesoft/cuems-utils.git
Vcs-Browser: https://github.com/stagesoft/cuems-utils.git
X-Python3-Version: >= 3.11

Package: cuems-utils
Architecture: amd64
Depends: ${misc:Depends}, ${python3:Depends}
Description: Cuems utils
 Cuems utils is a set of utilities to work with the cuems project